# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env*.local
.env
*/.env

# vercel
.vercel

# production
/build

# Python virtual environments
venv/
env/
myenv/
.venv/

#cache
*.pyc
__pycache__/
*.pyo
*.pyd
.cache/
sentence_transformers_cache/

/accounts
*publicextract*

#keeping track of inaccessible charity commission pages
04_database_builder_pdfs/inaccessible_charities.json

#checkpoint files
*.pkl

#notes/workings
eda_testing.ipynb
*logic_workings.xlsx
required_cols.md
test_scoring.py
dev_server.py

